{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets debug=false filter='cssmin'  output='bundles/innovamediaresource/css/innova_media_resource.css'
        '@InnovaMediaResourceBundle/Resources/public/css/innova_media_resource.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="media-resource-content-container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form, {'action':path('media_resource_add'), 'method':'POST', 'multipart':true}) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    <label for="name">{{ form_label(form.name, "Name") }}</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="form-group">                
                    <input type="file" name="file" id="file" value="" required="required" />
                </div>

                <!--
                <div class="form-group">                
                {#{ form_widget(form.medias) }#}
                {#{ form_errors(form.medias) }#}
            </div>
                -->

                {{ form_row(form.save, {'attr': {'class': 'btn btn-default'}}) }}

                {{ form_end(form) }}
            </div>
        </div>
        <hr/>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">

        $(document).ready(function () {
            var $container = $('div#exercise_medias');
            addField($container);
        });

        function addField($container) {
            var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '').replace(/__name__/g, 0));
            $container.append($prototype);

        }
    </script>
{% endblock %}
