{% extends  "InnovaMediaResourceBundle::layout.html.twig" %}
{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% macro playlist_region_prototype(playlistRegion) %}
    <tr>
        <td class="playlist_region_widget_ordering">
            <label></label>
            <!-- hidden widget -->
            {{ form_widget(playlistRegion.ordering) }}
        </td>
        <td class="playlist_region_widget_region">{{ form_widget(playlistRegion.region) }}</td>

        <td class="playlist_region_widget_delete text-right">
            <button role="button" type="button" onclick="removeRegionPlaylistRow(this)" class="btn btn-danger fa fa-trash"></button>
        </td>
    </tr>
{% endmacro %}

{% block media_resource_content %}

    <!-- PANEL HEADER -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title"> {{_resource.resourceNode.name}}: {{'playlist_edit_title' | trans({}, 'resource_form')}} </h3>  
            </div>
            <div class="col-md-4 text-right">
                <div class="btn-group">
                    <a href="{{path('innova_media_resource_administrate', {'workspaceId': _resource.resourceNode.workspace.id, 'id':_resource.id})}}" class="btn btn-default fa fa-arrow-left" title="{{'back_to_media_resource_details' | trans({}, 'media_resource') | format(_resource.resourceNode.name)}}">
              
                    </a>
                    <a href="{{path('innova_playlists', {'id':_resource.id})}}" class="btn btn-default fa fa-sort-amount-desc" title="{{'playlist_return_to_list' | trans({}, 'resource_form') | format(_resource.resourceNode.name)}}">
                      
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- PANEL BODY -->
    <div class="panel-body playlist-add-container">     
         {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="btn-group">
                    <button type="button" role="button" class="btn btn-primary fa fa-play" title="{{'playlist_preview' | trans({}, 'resource_form')}}" id="play-button" disabled onclick="playlistPreListen();">
                    </button>
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
        <hr/>
        <!-- errors row -->
        <div class="row">
            <div class="col-md-12">
                {{ form_errors(form) }}
            </div>
        </div>     
        <!-- PLAYLIST NAME ROW -->
        <div class="row">
            <div class="col-md-2">
                <label>{{'media_resource_playlist_title_field_label' | trans({}, 'resource_form')}}</label>
            </div>
            <div class="col-md-10">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}                
            </div>
        </div>
        <hr/>
        <!-- PLAYLIST SEGMENTS / ORDER ROW -->
        {% if _resource.regions | length > 0 %}
            <div class="row">  
                <div class="col-md-12">
                    <table class="table table-striped collection" data-prototype="{{ _self.playlist_region_prototype(form.playlistRegions.vars.prototype)|e }}">
                        <thead>
                            <tr>
                                <th>{{'media_resource_playlist_playlistRegions_region' | trans({}, 'resource_form')}}</th>
                                <th>{{'media_resource_playlist_playlistRegions_order' | trans({}, 'resource_form')}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for playslitRegion in form.playlistRegions %}
                                {{ _self.playlist_region_prototype(playslitRegion, form) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <!-- ADD ELEMENT ROW -->
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" role="button" class="btn btn-default add-collection">{{'media_resource_playlist_add_element' | trans({}, 'resource_form')}}</button>
                </div>
            </div>
            <audio id="aplayer" src="{{asset('')}}{{audioUrl}}"></audio>
        {% else %}
            <div class="row">
                <div class="col-md-12 center-text">
                    <h4>{{'playlist_no_segment' | trans({}, 'resource_form')}}</h4>
                </div>
            </div>
        {% endif %}
         {#{ form_end(form) }#}
        {{ form_widget(form._token) }}
        <!-- disable the automaticly created add link -->
        {{ form_end(form, {'render_rest': false}) }}
    </div>

    
{% endblock %}

{% block javascripts  %}
    {{parent()}}
    {% javascripts '@InnovaMediaResourceBundle/Resources/public/js/playlist_add_edit.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %} 

